[alias]
	lg = log --graph --decorate --oneline --abbrev-commit --all
	ci = commit
	cim = commit -am
	co = checkout
	st = status
	br = branch
[color]
	ui = true
	branch = always
	diff = always
	interactive = always
	status = always
[user]
	name = travis-south
	email = travis-south@users.noreply.github.com
[core]
	excludesfile = /root/.gitignore_global
